Question 1 Explanation: When a variable is declared as global variable, it will have its scope throughout the program. So here variable a is defined as global and having its scope throughout the code, on the first execution a is assigned to be 2 and in the third execution it will be 6.

In [2]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [3]:
b()

In [4]:
b()

In [5]:
b()

In [6]:
a

6

Question 2:

In [1]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File\t"+file_name+"\tnot found!")
file_length("C:\\Users\\rajal\\PycharmProjects\\pythonProject\\hello.txt")
file_length("idterm.py")

88
File	idterm.py	not found!

Question 3:

In [7]:
class Marsupial:  # parent class - Marsupial

    def __init__(self, x, y):  # defining constructor that takes input x and y variables of parent class
        self.pouch = []

    def put_in_pouch(self, items):  # appending items to empty self.pouch() list
        self.pouch.append(items)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):  # child class - Kangaroo
    def __init__(self, x, y):
        super().__init__(x, y)  # extending Marsupial constructor to take inputs of the Kangaroo object 
        self.dx = 0
        self.dy = 0

    def jump(self, x, y):
        self.dx = self.dx + x  # defining jump function to jump the coordinates of Kangaroo as per user input
        self.dy = self.dy + y

    def __str__(self):  # overload the _str_ operator
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.dx, self.dy)


k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
print(k.pouch)
k.jump(2, 1)
k.jump(2, 1)
k.jump(2, 1)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (6,3)

Question 4:

In [8]:
def collatz(x):
    if x != 1:
        print(x, end='\n')
    if x == 1:
        print(x, end='\n')
        return x
    if x % 2 == 0:
        x = x // 2
        collatz(x)
    else:
        x = 3 * x + 1
        collatz(x)


collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

Question 5:

In [9]:
# Decimal to binary conversion
# using recursion
def binary(number):
    # default
    if number == 0:
        return 0

    # Recursive call and storing result
    binary_value = binary(number // 2)

    return number % 2 + 10 * binary_value


print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

Question 6:

In [11]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    in_header_one = False
    in_header_two = False

    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.in_header_one = True
        if tag == "h2":
            self.in_header_two = True

    def handle_data(self, data):
        if self.in_header_one:
            print(data)
        if self.in_header_two:
            print("\t"+data)

    def handle_endtag(self, tag):
        if tag == "h1":
            self.in_header_one = False
        if tag == "h2":
            self.in_header_two = False


hParser = HeadingParser()
file = open("C:\\Users\\rajal\\PycharmProjects\\pythonProject\\w3c.html", "r")
html_content = file.read()
file.close()
hParser.feed(html_content)

W3C Mission
	Principles

Question 8:

In [15]:
import sqlite3

# connecting to the database
connection = sqlite3.connect("season.db")

# cursor
connection.commit()
my_cursor = connection.cursor()

# SQL command to create a table in the database
sql_command = """CREATE TABLE IF NOT EXISTS seasons (
city CHAR(30),
country CHAR(20),
season CHAR(30),
temperature VARCHAR(30),
rainfall VARCHAR(30));"""

# execute the statement
my_cursor.execute(sql_command)
connection.execute("INSERT INTO seasons VALUES('Mumbai', 'India', 'Winter', 24.8, '5.9');")
connection.execute("INSERT INTO seasons VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);")
connection.execute("INSERT INTO seasons VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);")
connection.execute("INSERT INTO seasons VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);")
connection.execute("INSERT INTO seasons VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);")
connection.execute("INSERT INTO seasons VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6 );")
connection.execute("INSERT INTO seasons VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);")
connection.execute("INSERT INTO seasons VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);")
connection.execute("INSERT INTO seasons VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);")
connection.execute("INSERT INTO seasons VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);")
connection.execute("INSERT INTO seasons VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);")
connection.execute("INSERT INTO seasons VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5);")

# a) All the temperature data.
my_cursor.execute("SELECT temperature from seasons")
result_set = my_cursor.fetchall()  # part a
print(result_set)

# b) All the cities, but without repetition.
my_cursor.execute("SELECT DISTINCT(city) from seasons")
result_set = my_cursor.fetchall()
print(result_set)

# c) All the records for India.
my_cursor.execute("SELECT * from seasons where country = 'India'")
result_set = my_cursor.fetchall()
print(result_set)

# d) All the Fall records.
my_cursor.execute("SELECT * from seasons where season = 'Fall'")
result_set = my_cursor.fetchall()
print(result_set)

# e) The city, country, and season for which the average rainfall is between 200
# and 400 millimeters.
my_cursor.execute("SELECT city,country,season from seasons where rainfall BETWEEN 200 and 400")
result_set = my_cursor.fetchall()
print(result_set)

# f) The city and country for which the average Fall temperature is above 20
# degrees, in increasing temperature order.
my_cursor.execute("SELECT city,country from seasons where (season = 'Fall' and temperature > 20) "
                  "ORDER BY temperature ASC")
result_set = my_cursor.fetchall()
print(result_set)

# g) The total annual rainfall for Cairo.
my_cursor.execute("SELECT sum(rainfall) from seasons where city = 'Cairo'")
result_set = my_cursor.fetchall()
print(result_set)

# h) The total rainfall for each season.
my_cursor.execute("SELECT season, sum(rainfall) from seasons group by season")
result_set = my_cursor.fetchall()
print(result_set)

connection.close()

[('24.8',), ('28.4',), ('27.9',), ('27.6',), ('4.2',), ('8.3',), ('15.7',), ('10.4',), ('13.6',), ('20.7',), ('27.7',), ('22.2',)]
[('Mumbai',), ('London',), ('Cairo',)]
[('Mumbai', 'India', 'Winter', '24.8', '5.9'), ('Mumbai', 'India', 'Spring', '28.4', '16.2'), ('Mumbai', 'India', 'Summer', '27.9', '1549.4'), ('Mumbai', 'India', 'Fall', '27.6', '346.0')]
[('Mumbai', 'India', 'Fall', '27.6', '346.0'), ('London', 'United Kingdom', 'Fall', '10.4', '218.5'), ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')]
[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall'), ('Cairo', 'Egypt', 'Fall')]
[('Cairo', 'Egypt'), ('Mumbai', 'India')]
[(27.6,)]
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

Question 9:

In [12]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([element.upper() for element in words])
print([element.lower() for element in words])
print([len(element) for element in words])
print([[element.upper(), element.lower(), len(element)]for element in words])
print([element for element in words if len(element) >= 4])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']